/*******************************************************************************
 * GENERAL
 ******************************************************************************/
* {
    font-family: "Roboto", "Helvetica Neue", Helvetica;
}

table tbody {
    font-weight: 300;
}

body {
    font-weight: 400;

    letter-spacing: 0;
    min-width: 100%;
    margin: 0;
}

.ui {
    padding-right: 40px;
    padding-left: 40px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}



/*******************************************************************************
 * TABLES
 ******************************************************************************/
.table-color thead {
    font-size:1.35rem;

    background-color: #bdc3c7;
}

.table-color tbody {
    font-weight: 400;
    font-size: 1.35rem;
}

.table tbody tr td.cell-success {
    background-color: #5cb85c;
}

.table tbody tr td.cell-info {
    background-color: #5bc0de;
}

.table tbody tr td.cell-warning {
    background-color: #f0ad4e;
}

.table tbody tr td.cell-danger {
    background-color: #d9534f;
}

.table thead tr th.cell-rotate {
    font-weight: 700;
    color: #000;

    height: 215px;
    margin: 0;
    vertical-align: bottom;
    white-space: nowrap;
}

.table thead tr th.cell-rotate div {
    transform: rotate(270deg);
    width: 10px;
}

.table tbody tr td {
    padding: 5px
}



/*******************************************************************************
 * SIDEBAR
 ******************************************************************************/
.sidebar-background {
    background-image: url('../img/sidebar-4.jpg');
}



/*******************************************************************************
 * CARDS
 ******************************************************************************/
.card .header {
    font-size: 2.2rem;
    font-weight: 300;
}
