/*******************************************************************************
 * GENERAL
 ******************************************************************************/
* {
    font-family: "Roboto", "Helvetica Neue", Helvetica;
}

table tbody {
    font-weight: 300;
}

body {
    font-weight: 400;

    letter-spacing: 0;
    min-width: 100%;
    margin: 0;
}

.ui {
    padding-right: 40px;
    padding-left: 40px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}



/*******************************************************************************
 * TABLES
 ******************************************************************************/
.table-color thead tr {
    font-size:1.35rem;

    background-color: #83A7CC;
}

.table-color tbody {
    font-weight: 400;
    font-size: 1.35rem;
}

.table tbody tr td.cell-default {
    color: #25282B;
}

.table tbody tr td.cell-success {
    color: #5cb85c;
}

.table tbody tr td.cell-info {
    color: #5bc0de;
}

.table tbody tr td.cell-warning {
    color: #25282B;
}

.table tbody tr td.cell-danger {
    color: #d9534f;
}

.table thead tr th.cell-rotate {
    font-weight: 700;
    color: #000;

    height: 215px;
    margin: 0;
    vertical-align: bottom;
    white-space: nowrap;
}

.table thead tr th.cell-rotate div {
    transform: rotate(270deg);
    width: 10px;

    color: #25282B;
}

.table tbody tr td {
    padding: 5px;
}

.table-analytics thead tr th {
    width: 65%;
}

table.table-active-orders tbody tr:nth-of-type(odd) {
    background-color: #E8F7FC;
}

table.table-active-orders td {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10px; /* any value greater than zero works */
}

table.table-active-orders .cell-op-number {
    width: 5%;
}

table.table-active-orders .cell-client {
    width: 20%;
}

table.table-active-orders .cell-description,
table.table-active-orders .cell-due-date {
    width: 7%;
}

table.table-active-orders .cell-machine {
    width: 6%;
}

table.table-active-orders .cell-process {
    width: 2.2%;
}



/*******************************************************************************
 * SIDEBAR
 ******************************************************************************/
.sidebar-background {
    background-image: url('../img/sidebar-4.jpg');
}



/*******************************************************************************
 * CARDS
 ******************************************************************************/
.card .header {
    font-size: 2.2rem;
    font-weight: 300;
}



/*******************************************************************************
 * POPOVERS
 ******************************************************************************/
.popover-content {
    background-color: #7f8c8d;
}

div.popover-input input,
div.popover-input input:focus {
    border-color: #000;
}

div.popover-input label {
    color: #000;
}
