{% extends 'base_site.html' %}

{% block content %}
    <h1>{{ quote.quote_name }}</h1>
    <h3>By {{ quote.executive }}</h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <p><strong>Date created: </strong>{{ quote.quote_date_created }}</p>
    <p><strong>Last Modified:</strong>{{ quote.quote_last_modified }}</p>
    <p><strong>Due Date:     </strong>{{ quote.quote_due_date }}</p>
    <p><strong>Client:       </strong>{{ quote.client }}</p>
    <p><strong>Price:        </strong>Q. {{ quote.quote_total_price }}</p>
    <br>

    <p><strong>Copies:       </strong>{{ quote.quote_copies }}</p>
    <p><strong>Quires:       </strong>{{ quote.quires }}</p>
    <p><Strong>Dimentions:   </strong>
        {{ quote.quote_dimention_width }}" x {{ quote.quote_dimention_length }}"
    </p>
    <p><strong>Paper:        </strong>{{ quote.paper }}</p>
    <p><strong>Imposing (per sheet): </strong>{{ quote.quote_imposing_per_sheet }}</p>
    <p><strong>Sheets:       </strong>{{ quote.quote_total_sheets }}</p>
    <br>

    <p><strong>Finishings:   </strong>
        <ul>
            {% for finishing in quote.finishings.all %}
                <li>{{ finishing }}</li>
            {% endfor %}
        </ul>
    </p>
    <p><strong>Materials:    </strong>
        <ul>
            {% for material in quote.materials.all %}
                <li>{{ material }}</li>
            {% endfor %}
        </ul>
    </p>
    <p><strong>Authorized?   </strong>{{ quote.quote_is_authorized }}</p>
    <p><strong>Approved?     </strong>{{ quote.quote_is_approved }}</p>

    <br>
    <a class="btn btn-default" href="{% url 'ventas:quotes' %}">View all quotes</a>
    <br>
    {% if not quote.quote_is_authorized and not quote.quote_is_approved %}
        <a class="btn btn-default" href="{% url 'ventas:quote_edit' pk=quote.id %}">Edit Quote</a>
    {% else %}
        <a class="btn btn-default disabled">Edit Quote</a>
    {% endif %}
    <br>
    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#auth-modal">Authorize Quote</button>
    <br>
    <a class="btn btn-default" href="#">Approve Quote</a>

    <div class="modal fade" id="auth-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Authorize Quote</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure want to authorize this quote?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {% if not quote.quote_is_authorized %}
                        <form method="POST" action="{% url 'ventas:quote_authorize' pk=quote.id %}" class="inline">{% csrf_token %}
                            <button class="btn btn-primary" type="submit">Authorize Quote</button>
                        </form>
                    {% else %}
                        <button type="button" class="btn btn-primary disabled">Authorize Quote</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
