{% extends 'base_site.html' %}

{% block content %}
    {% if latest_quote_list %}
        <ul>
            {% for quote in latest_quote_list %}
                <li><a href="{% url 'ventas:quote_detail' quote.id %}">{{ quote }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No quotes are available.</p>
    {% endif %}

    <p><a class="btn btn-default" href="{% url 'ventas:index' %}">Ventas Index Page</a></p>
    <p><a class="btn btn-default" href="{% url 'ventas:quote_create' %}">Create new quote</a></p>
{% endblock %}
