{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>Orders Project</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <!-- Minified Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/light-bootstrap-dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- Fonts and icons -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">

        {% block cssfiles %}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar" data-color="azure" data-image="{% static 'img/sidebar-4.jpg' %}">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="{% url 'index' %}" class="simple-text">Orders Project</a>
                    </div>
                    <ul class="nav">
                        <li>
                            <a href="{% url 'control_produccion:orders' %}" class="simple-text">
                                <i class="pe-7s-note2"></i>
                                <p>Listado de Órdenes</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'control_produccion:active_orders' %}" class="simple-text">
                                <i class="pe-7s-display2"></i>
                                <p>Órdenes Activas</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                <span class="sr-only">Toggle navigation</span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="{% url 'control_produccion:index' %}">Orders Project</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="content">
                    <div class="container-fluid">
                        {% block header %}
                        {% endblock %}
                        <hr>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>
                                <li><a href="{% url 'control_produccion:index' %}">INSTRUCCIONES</a></li>
                            </ul>
                        </nav>
                        <p class="copyright pull-right">&copy; 2017. Diseñado y creado por <a href="mailto:andysapper1@gmail.com">Andy Sapper</a></p>
                    </div>
                </footer>
            </div>
        </div>

        <!-- jQuery minified version -->
        <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
        <!-- Minified Bootstrap JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/light-bootstrap-dashboard.js' %}"></script>
        {% block jsfiles %}
        {% endblock %}
    </body>
</html>
