{% load staticfiles %}
<html>
    <head>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default ui">
            <a class="navbar-brand" href="{% url 'index' %}">Quotes Project</a>
        </nav>
        <div class="ui container-fluid">
            <div class="row">
                {% block header %}
                {% endblock %}
                <hr>
            </div>
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <p>Diseñado por <a href="mailto: Andy_Sapper@baylor.edu">Andy Sapper</a></p>
        </div>

        <!-- jQuery lastest minified version -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
