{% extends 'base_site.html' %}

{% block header %}
    <h1>Órdenes Activas</h1>
    <form method="POST" action="{% url 'control_produccion:refresh_database' %}">{% csrf_token %}
        <button class="btn btn-info" type="submit">Actualizar base de datos</button>
    </form>
    <a class="btn btn-default" href="{% url 'control_produccion:index' %}">Página Principal</a>
{% endblock %}

{% block content %}
    {% load active_orders_tags %}
    {% if latest_active_orders_list %}
    <div class="panel panel-default table-responsive">
        <table class="table table-striped table-condensed table-bordered table-color">
            <thead>
                <tr>
                    <th class="cell-rotate"><div>Orden #</div></th>
                    <th class="cell-rotate"><div>Cliente</div></th>
                    {% for process in process_list %}
                    <th class="cell-rotate"><div>{{ process }}</div></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for order in latest_active_orders_list %}
                <tr>
                    <td>{{ order.order_op_number }}</td>
                    <td>{{ order.order_client }}</td>
                    {% for process in process_list %}
                        {% get_process_in_order order process as process_in_order %}
                        {% if process_in_order %}
                            {% if not process_in_order.get_is_started %}
                            <td class="cell-danger"></td>
                            {% elif process_in_order.get_is_started and not process_in_order.get_is_finished %}
                            <td class="cell-warning"></td>
                            {% elif process_in_order.get_is_finished %}
                            <td class="cell-success"></td>
                            {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No hay órdenes activas.</p>
    {% endif %}
{% endblock %}
