{% extends 'base_site.html' %}
{% load humanize %}

{% block header %}
<!-- Nav tabs -->
<ul class="nav nav-pills pull-right" role="tablist">
    <li role="presentation" class="active"><a href="#processesAnalytics" aria-controls="processesAnalytics" role="tab" data-toggle="tab">Procesos</a></li>
    <li role="presentation"><a href="#machinesAnalytics" aria-controls="machinesAnalytics" role="tab" data-toggle="tab">Máquinas</a></li>
    <li role="presentation"><a href="#clientsAnalytics" aria-controls="clientsAnalytics" role="tab" data-toggle="tab">Clientes</a></li>
</ul>
<h1>Analytics</h1>
{% endblock %}

{% block content %}
<!-- Analytics content -->
<div class="row">
    <!-- Tab contents -->
    <div class="tab-content">
        <!-- Machines analytics -->
        <div role="tabpanel" class="row tab-pane fade" id="machinesAnalytics">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        Pliegos impresos por máquina
                    </div>
                    <div class="content">
                        <div class="row">
                            <h6>En la última semana</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Máquina</th>
                                            <th>Pliegos impresos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in view.get_last_week_sheets_printed %}
                                        <tr>
                                            <td>{{ order.order_machine }}</td>
                                            <td>{{ order.order_total_sheets__sum|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En el último mes</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Máquina</th>
                                            <th>Pliegos impresos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in view.get_last_month_sheets_printed %}
                                        <tr>
                                            <td>{{ order.order_machine }}</td>
                                            <td>{{ order.order_total_sheets__sum|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En general</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Máquina</th>
                                            <th>Pliegos impresos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in view.get_general_sheets_printed %}
                                        <tr>
                                            <td>{{ order.order_machine }}</td>
                                            <td>{{ order.order_total_sheets__sum|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Clients analytics -->
        <div role="tabpanel" class="row tab-pane fade" id="clientsAnalytics">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        Clientes frecuentes
                    </div>
                    <div class="content">
                        <div class="row">
                            <h6>En la última semana</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Número de órdenes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_client in view.get_last_week_top_most_frequent_clients %}
                                        <tr>
                                            <td>{{ order_client.order_client }}</td>
                                            <td>{{ order_client.order_client__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En el último mes</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Número de órdenes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_client in view.get_last_month_top_most_frequent_clients %}
                                        <tr>
                                            <td>{{ order_client.order_client }}</td>
                                            <td>{{ order_client.order_client__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En general</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Número de órdenes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_client in view.get_general_top_most_frequent_clients %}
                                        <tr>
                                            <td>{{ order_client.order_client }}</td>
                                            <td>{{ order_client.order_client__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Processes analytics -->
        <div role="tabpanel" class="row tab-pane fade in active" id="processesAnalytics">
            <!-- Avg times per process -->
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Tiempos promedio por proceso
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            <table id="avgProcessTimes" class="table">
                                <thead>
                                    <tr>
                                        <th>Proceso</th>
                                        <th>Minutos por Unidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for process_time in view.get_process_times %}
                                    <tr>
                                        <td>{{ process_time.0 }}</td>
                                        <td>{{ process_time.1|floatformat:2 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Most frequent asked processes -->
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Procesos más pedidos
                    </div>
                    <div class="content">
                        <div class="row">
                            <h6>En la última semana</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Proceso</th>
                                            <th>Número pedido</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for process in view.get_last_week_top_most_present_processes %}
                                        <tr>
                                            <td>{{ process.process_name }}</td>
                                            <td>{{ process.order_process__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En el último mes</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Proceso</th>
                                            <th>Número pedido</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for process in view.get_last_month_top_most_present_processes %}
                                        <tr>
                                            <td>{{ process.process_name }}</td>
                                            <td>{{ process.order_process__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En general</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Proceso</th>
                                            <th>Número pedido</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for process in view.get_general_top_most_present_processes %}
                                        <tr>
                                            <td>{{ process.process_name }}</td>
                                            <td>{{ process.order_process__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Puases per process -->
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Pausa promedio por proceso pausado
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Proceso</th>
                                        <th>Minutos en pausa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for process_pause_time in view.get_process_pause_times %}
                                    <tr>
                                        <td>{{ process_pause_time.process__process_name }}</td>
                                        <td>{{ process_pause_time.min_avg_pause|floatformat:0 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
