{% extends 'base_site.html' %}
{% load humanize %}
{% load humanize_extras %}

{% block header %}
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% else %} class="alert alert-info"{% endif %} role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!-- Nav tabs -->
    <ul class="nav nav-pills pull-right" role="tablist">
        <li role="presentation" class="active"><a href="#orderProcesses" aria-controls="orderProcesses" role="tab" data-toggle="tab">Procesos</a></li>
        <li role="presentation"><a href="#orderAnalytics" aria-controls="orderAnalytics" role="tab" data-toggle="tab">Analytics</a></li>
    </ul>
    <h4 style="margin:0">
    {% if not order.order_is_finished %}
    <span class="label label-success">Activa</span>
    {% else %}
    <span class="label label-danger">Terminada</span>
    {% endif %}
    </h4>
    <h1 style="display:inline-block">Orden #{{ order.order_op_number }} <small> {{ order.order_description }}</small></h1>

{% endblock %}

{% block content %}
<!-- Order details -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Pliegos</th>
                        <th class="text-center">Máquina</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{ order.order_client }}</td>
                        <td class="text-center">{{ order.order_quantity }}</td>
                        <td class="text-center">{{ order.order_total_sheets }}</td>
                        <td class="text-center">{{ order.order_machine }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="row">
    <!-- Tab contents -->
    <div class="tab-content">
        <!-- Analytics -->
        <div role="tabpanel" class="row tab-pane fade" id="orderAnalytics">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Duración de procesos terminados
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Proceso</th>
                                        <th>Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_process in order_process_list %}
                                    {% if order_process.get_is_finished %}
                                    <tr>
                                        <td>{{ order_process.process }}</td>
                                        <td>{{ order_process.get_duration|humanize_seconds }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Pausas hechas
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Proceso</th>
                                        <th>Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_process in order_process_list %}
                                    {% if order_process.order_process_seconds_paused > 0 %}
                                    <tr>
                                        <td>{{ order_process.process }}{% if not order_process.get_is_finished %}*{% endif %}</td>
                                        <td>{{ order_process.order_process_seconds_paused|humanize_seconds }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="stats">
                            * = proceso aún activo
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Processes -->
        <div role="tabpanel" class="row tab-pane fade in active" id="orderProcesses">
            {% for order_process in order_process_list %}
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        {{ order_process.process }}
                        <p class="category">
                            {% if order.get_is_finished %}
                            Orden ha sido terminada
                            <hr>
                            <!-- Start process button -->
                            <a class="btn btn-default disabled" role="button">Proceso no modificable</a>
                            {% elif not order_process.get_is_started and not order_process.get_is_finished %}
                            Proceso no comenzado aún
                            <hr>
                            <!-- Start process button -->
                            <form method="POST" action="{% url 'control_produccion:order_start_process' order.id order_process.process.id %}">{% csrf_token %}
                                <button class="btn btn-success" type="submit">Comenzar proceso</button>
                            </form>
                            {% elif order_process.get_is_paused %}
                            Proceso pausado
                            <hr>
                            <!-- Resume process button -->
                            <form method="POST" action="{% url 'control_produccion:order_resume_process' order.id order_process.process.id %}">{% csrf_token %}
                                <button class="btn btn-info" type="submit">Resumir proceso</button>
                            </form>
                            {% elif order_process.get_is_started and not order_process.get_is_finished %}
                            Proceso comenzado {{ order_process.get_datetime_started|naturaltime|default_if_none:"---" }}
                            <hr>
                            <!-- Pause process button -->
                            <form method="POST" action="{% url 'control_produccion:order_pause_process' order.id order_process.process.id %}">{% csrf_token %}
                                <button class="btn btn-info" type="submit">Pausar proceso</button>
                            </form>
                            <!-- Finish process button -->
                            <form method="POST" action="{% url 'control_produccion:order_finish_process' order.id order_process.process.id %}">{% csrf_token %}
                                <button class="btn btn-danger" type="submit">Terminar proceso</button>
                            </form>
                            {% else %}
                            Proceso terminado en {{ order_process.get_duration|humanize_seconds }}
                            <hr>
                            <button class="btn btn-default disabled">Proceso terminado</button>
                            {% endif %}
                        </p>
                    </div>
                    <div class="content"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    <br>
    <p><a class="btn btn-info btn-fill" href="{% url 'control_produccion:orders' %}">Ver todas las órdenes</a></p>
{% endblock %}
