{% extends 'base_site.html' %}

{% block header %}
{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% else %} class="alert alert-info"{% endif %} role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<h1>
    Órdenes
    <!-- Start process button -->
    <a tabindex="0" id="popover-pause-all-processes" class="btn btn-info" role="button" data-placement="bottom" title="Entra tus credenciales">Pausar todos los procesos activos</a>
    <div id="popover-pause-all-processes-content" class="hide">
        <form method="POST" action="{% url 'control_produccion:pause_all_processes' %}">{% csrf_token %}
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" name="username" placeholder="Usuario" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña" class="form-control">
            </div>
            <button class="btn btn-info" type="submit">Listo</button>
        </form>
    </div>
</h1>
{% endblock %}

{% block content %}
{% if latest_order_list %}
<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" id="searchBox" placeholder="Buscar por número de orden o nombre de cliente...">
            <span class="input-group-btn">
                <button id="searchBtn" class="btn btn-info btn-fill" type="button">Buscar todas las órdenes</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br>
<div class="panel panel-default">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Orden #</th>
                <th>Cliente</th>
                <th>Descrición</th>
                <th>Cantidad</th>
                <th>Fecha de Entrega</th>
                <th>Máquina</th>
                <th>Pliegos</th>
            </tr>
        </thead>
        <tbody>
            {% for order in latest_order_list %}
            <tr class="opRow">
                <td><a class="opNumberCell" href="{% url 'control_produccion:order_detail' order.id %}">{{ order.order_op_number }}</a></td>
                <td class="opClientCell" style="width: 30%;">{{ order.order_client }}</td>
                <td>{{ order.order_description }}</td>
                <td>{{ order.order_quantity }}</td>
                <td>{{ order.order_due_date|date }}</td>
                <td>{{ order.order_machine }}</td>
                <td>{{ order.order_total_sheets }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No hay órdenes hábiles.</p>
{% endif %}
{% endblock %}

{% block jsfiles %}
<script>
    $('#searchBox').on("keyup", function() {
        searchInput(true); // limit rows to search
    });
    $('#searchBtn').on("click", function() {
        searchInput(false); // don't limit rows, search all
    });

    $('#popover-pause-all-processes').popover({ 
        html : true,
        content: function() {
            return $("#popover-pause-all-processes-content").html();
        }
    });

    function searchInput(searchAll) {
        var value = document.getElementById('searchBox').value.toLowerCase();
        if (value == null || value == "") {
            $('table tr').show();
        } else {
            var LIMIT_ROWS = {{ recent_orders }};
            if (searchAll === false) {
                // change value of LIMIT_ROWS if list of orders is not empty
                {% if latest_order_list %}
                LIMIT_ROWS = {{ latest_order_list|length }};
                {% endif %}
            }
            $('table tr:gt(' + LIMIT_ROWS + ')').hide();
            $('table tr:lt(' + (LIMIT_ROWS+1) + ')').each(function (index) {
                if (!index) return;
                var op = $(this).find("td").first().text();
                var client = $(this).find("td:nth-child(2)").text().toLowerCase();
                if (op.indexOf(value) > -1 || client.indexOf(value) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    }
</script>
{% endblock %}
