{% extends 'base_site.html' %}

{% block header %}
    {% load humanize %}
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% else %} class="alert alter-info"{% endif %} role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h1>Orden #{{ order.order_op_number }} <small> {{ order.order_description }}</small></h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Pliegos</th>
                        <th class="text-center">Máquina</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{ order.order_client }}</td>
                        <td class="text-center">{{ order.order_quantity }}</td>
                        <td class="text-center">{{ order.order_total_sheets }}</td>
                        <td class="text-center">{{ order.order_machine }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    {% for order_process in order_process_list %}
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                {{ order_process.process }}
                <p class="category">
                    {% if not order_process.get_is_started and not order_process.get_is_finished %}
                    Proceso no comenzado aún
                    <hr>
                    <form method="POST" action="{% url 'control_produccion:order_start_process' order.id order_process.process.id %}">{% csrf_token %}
                        <button id="btn-start-process-{{ order_process.process.id }}" class="btn btn-success" type="submit">Comenzar proceso</button>
                    </form>
                    {% elif order_process.get_is_started and not order_process.get_is_finished %}
                    Fecha comenzado: {{ order_process.get_datetime_started|naturaltime|default_if_none:"---" }}
                    <hr>
                    <form method="POST" action="{% url 'control_produccion:order_finish_process' order.id order_process.process.id %}">{% csrf_token %}
                        <button id="btn-finish-process-{{ order_process.process.id }}" class="btn btn-danger" type="submit">Terminar proceso</button>
                    </form>
                    {% else %}
                    Duración: {{ order_process.get_datetime_started|timesince:order_process.get_datetime_finished }}
                    <hr>
                    <button class="btn btn-default disabled">Proceso terminado</button>
                    {% endif %}
                </p>
            </div>
            <div class="content"></div>
        </div>
    </div>
    {% endfor %}
</div>

    <br>
    <p><a class="btn btn-info" href="{% url 'control_produccion:orders' %}">Ver todas las órdenes</a></p>
{% endblock %}
