{% extends 'base_site.html' %}

{% block header %}
<h2>Marcar Tiempos</h2>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <div class="form-group">
                    <label class="col-sm-2 text-right">Orden</label>
                    <div class="col-sm-10">
                        <input type="text" id="order" class="form-control" autofocus="autofocus" placeholder="Información de la Orden de Producción" onKeyPress="handleInputOrder(event)">
                    </div>
                </div>
                <br>
                <hr>
                <div id="timeProcessesFooter">
                </div>
            </div> <!-- content -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
{% endblock %}

{% block jsfiles %}
<script>
function handleInputOrder(event) {
    if (event.keyCode == 13) {
        processInput("{% url 'control_produccion:time_processes_result' %}");
        document.getElementById("order").select();
    }
}

function handleRemoveTime(event) {
    processInput("{% url 'control_produccion:time_processes_remove' %}");
}

function handleClearResult() {
    document.getElementById("timeProcessesFooter").innerHTML = "";
    var order = document.getElementById("order");
    order.value = "";
    order.focus();
}

function processInput(url) {
    $.ajax({
        async: true,
        type: "POST",
        url: url,
        data: {
            inputOrder: document.getElementById("order").value,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (html) {
            $('#timeProcessesFooter').html(html);
        }
    });
}

function processUserCredentials(action) {
    $.ajax({
        async: true,
        type: "POST",
        url: "{% url 'control_produccion:time_processes_result' %}",
        data: {
            inputOrder: document.getElementById("order").value,
            username: document.getElementById("username").value,
            password: document.getElementById("password").value,
            action: action,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (html) {
            $('#timeProcessesFooter').html(html);
        }
    });
}
</script>
{% endblock %}
